<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="JalaTechnologiesV1">

	<listeners>
		<listener class-name="com.jalatechnologiesv1.utilities.Reporting" />
	</listeners>


	<test name="JalaTechnologies Test">
		
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.jalatechnologiesv1.TestCases.TC_LoginTest_001" />
			<class name="com.jalatechnologiesv1.TestCases.TC_EmployeeCreate_002" />
			<class name="com.jalatechnologiesv1.TestCases.TC_SearchTest_004" />
		</classes>

	</test>

</suite>